body {
  margin: 0;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: 300;
  background-color: whitesmoke;
}

.hero {
  width: 100%;
  height: 100vh;
}

.container {
  width: 80%;
  margin: 0 auto;
}
.logo {
  width: 200px;
  height: 200px;
}

nav {
  float: right;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-top: 70px;
  padding: 20px;
  text-decoration: none;
  font-size: larger;
}

nav a {
  text-decoration: none;
  color: #e87121;
  text-transform: uppercase;
}

nav a:hover {
  color: black;
}

.about {
  padding: 50px 0px;
  margin-left: 50px;
}

.wife {
  height: auto;
  width: 420px;
  margin-left: 20px;
  border-radius: 10px;
}

.about-text {
  width: 550px;
}

.main {
  width: 1130px;
  max-width: 95%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.about-text h1 {
  color: black;
  font-size: 80px;
  text-transform: capitalize;
  margin-bottom: 20px;
}

.about-text h5 {
  color: black;
  font-size: 25px;
  text-transform: capitalize;
  margin-bottom: 25px;
  letter-spacing: 2px;
}

span {
  color: #e87121;
}

.about-text p {
  color: black;
  letter-spacing: 1px;
  line-height: 28px;
  font-size: 18px;
  margin-bottom: 45px;
}

.dirty-text {
  color: black;
  letter-spacing: 1px;
  line-height: 28px;
  font-size: 18px;
  margin-bottom: 30px;
  text-align: center;
}

.projects {
  margin-top: 150px;
}

.projectxt {
  text-align: center;
  font-size: 75px;
  text-decoration: none;
}

.contact {
  margin-top: 175px;
}

.contactxt {
  text-align: center;
  font-size: 75px;
}

.ud {
  margin-top: -385px;
  margin-left: 10px;
}

.contactxt {
  text-decoration: none;
  margin-top: -30px;
}

.button {
  height: 200px;
  width: 200px;
}

.number {
  color: black;
  margin-left: 165px;
  margin-bottom: 500px;
}

.project-links-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.project-links-wrapper a {
  width: 33.3%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.project-links-wrapper a img {
  max-width: 300px;
  height: auto;
}

.contact-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.projects-text {
  background-color: lightgray;
}

@media (max-width: 768px) {
  /* Adjust header styles for screens with a maximum width of 768px */
  .container {
    width: 90%; /* Adjust container width for smaller screens */
  }

  .logo {
    width: 150px; /* Decrease logo size for smaller screens */
    height: 150px;
  }

  nav {
    float: none; /* Remove floating for smaller screens */
    text-align: center; /* Center-align navigation items */
  }

  nav li {
    display: block; /* Display navigation items as blocks */
    margin-top: 20px;
  }
}

@media (max-width: 768px) {
  /* Adjust about section styles for screens with a maximum width of 768px */
  .about {
    padding: 30px 0px; /* Decrease padding for smaller screens */
    margin-left: 20px; /* Adjust margin for smaller screens */
  }

  .wife {
    width: 100%; /* Make the image full width for smaller screens */
    margin-left: 0;
  }

  .about-text {
    width: 100%; /* Make the text width 100% for smaller screens */
  }

  .about-text h1 {
    font-size: 60px; /* Decrease heading font size for smaller screens */
  }
}

@media (max-width: 768px) {
  /* Adjust contact section styles for screens with a maximum width of 768px */
  .contact {
    margin-top: 100px; /* Decrease margin-top for smaller screens */
  }

  .contactxt {
    font-size: 50px; /* Decrease font size for contact text */
  }

  .ud {
    margin-left: 0; /* Remove margin-left for smaller screens */
  }

  .button {
    height: 150px; /* Decrease button size for smaller screens */
    width: 150px;
  }

  .number {
    margin-left: 0; /* Remove margin-left for smaller screens */
    margin-bottom: 30px; /* Decrease margin-bottom for smaller screens */
  }
}
