body{
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 300;
    background-color: whitesmoke;
}

.container{
    width: 80%;
    margin: 0 auto;
}
.logo{
    width: 200px;
    height: 200px;
}

nav{
    float: right;
}

nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li{
    display: inline-block;
    margin-top: 70px;
    padding: 20px;
    text-decoration: none;
    font-size: larger;
}

nav a{
text-decoration: none;
color: #e87121;
text-transform: uppercase;
}

nav a:hover{
    color: black;
}

.about{
    width: 100%;
    padding: 50px 0px;
    margin-left: 50px;
}

.wife{
   height: auto;
   width: 420px; 
   margin-left: 20px;
   border-radius: 10px;
}

.about-text{
    width: 550px;
}

.main{
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.about-text h1{
    color: black;
    font-size: 80px;
    text-transform: capitalize;
    margin-bottom: 20px;
}

.about-text h5{
   color: black;
   font-size: 25px;
   text-transform: capitalize;
   margin-bottom: 25px;
   letter-spacing: 2px; 
}

span{
    color: #e87121;
}

.about-text p{
    color: black;
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 45px;
}

button{
    background: #e87121;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
    transition: 4s;

}

button:hover{
    background: transparent;
    border: 2px solid #e87121;
    cursor: pointer;
}

.dirty{
    height: 500px;
    width: 500px;
    /* margin-top: 80px;
    margin-left: 40px;
    border-radius: 500px;
    display: flex;
    align-items: center; */
    display: inline-block;
    vertical-align: top; 
    margin-right: 20px;
    margin-left: 250px; 
}

.dirty-text{
    color: black;
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 30px; 
    text-align: center;
}

/* .horzy {
    height: 300px;
    width: 300px;
    display: inline-block;
    vertical-align: top; 
    margin-right: 20px; 
    margin-top: 10px;
} */

.horzyimg{
    margin-top: -385px;
    height: 300px;
    width: 300px;
    /* margin-left: 500px; */
    float: right;
    margin-right: 10px;
}

.projects{
    margin-top: 150px;
}

.projectxt{
    text-align: center;
    font-size: 75px;
    text-decoration: none;
}

.contact{
    margin-top: 175px;
}

.contactxt{
    text-align: center;
    font-size: 75px;
}

.coming{
    height: 300px;
    width: 300px;
}

.ud{
    margin-top: -385px;
    margin-left: 10px;
}

.contactxt{
    text-decoration: none;
}

.button{
    height: 200px;
    width: 200px;
    margin-left: 50px;
    margin-top: 50px;
}

.number{
    color: black;
    margin-left: 165px;
    margin-bottom: 500px;
}

